@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-green {
  @apply bg-green-600 hover:bg-green-700 px-4 py-2 rounded font-bold;
}

.btn-red {
  @apply bg-red-600 hover:bg-red-700 px-4 py-2 rounded font-bold;
}

.btn-outline {
  @apply border border-zinc-500 px-3 py-1 rounded hover:bg-zinc-700 w-full;
}
